@model GoalTracker.Models.GoalDetailMilestoneActivityViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row mb-5">
    <div class="col-10">
        <h1>Goal Details | @Html.DisplayFor(model => model.Goal!.Title)</h1>
    </div>
</div>

<div class="row mb-5">

    <div class="col-md-2">
        <nav class="nav flex-column">
            <a asp-asp-controller="Goal" asp-action="Index" class="nav-link">Back to Goals</a>
            <a asp-action="Create" asp-controller="Milestone" asp-route-id="@Model?.Goal!.Id" class="nav-link">
                Add Milestone
            </a>
            <a asp-action="Edit" asp-route-id="@Model?.Goal!.Id" class="nav-link">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model?.Goal!.Id" class="nav-link">Delete</a>
            <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_GoalDetails">
                <i class="bi-arrow-up-right-circle" style="font-size: 1rem; color: #0077cc;"></i>Offcanvas
            </a>
        </nav>
    </div>

    <div class="col-md-6">
        <h4>Goal</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Goal!.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Goal!.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Goal!.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Goal!.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Goal!.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Goal!.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Goal!.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Goal!.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Goal!.TargetDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Goal!.TargetDate)
            </dd>

            @if (@Model != null && @Model.Goal!.Completed)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Goal!.CompletedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Goal!.CompletedDate)
                </dd>
            }

        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-6 offset-md-3">

        <h4>Milestones</h4>
        <hr />

        <dl class="row">
            @foreach (var milestone in Model?.Milestones!)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Milestones![0].Title)
                </dt>
                <dd class="col-sm-10">
                    <a asp-action="Details" asp-controller="Milestone" asp-route-id="@milestone?.Id" class="nav-link">
                        @Html.DisplayFor(model => milestone.Title)
                    </a>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Milestones![0].Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => milestone!.Description)
                </dd>
                <hr />
            }
        </dl>
    </div>
</div>
