@model GoalTracker.Models.Goal

@{
    ViewData["Title"] = "Details";
}

<div class="row mt-5 mb-5">
    <div class="col-6">
        <h1>Details</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-2">
        <nav class="nav flex-column">
            <a asp-action="Index" class="nav-link">Back to List</a>
            <a asp-action="Create" asp-controller="Milestone" asp-route-id="@Model?.Id" class="nav-link">Add Milestone</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="nav-link">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="nav-link">Delete</a>
        </nav>
    </div>

    <div class="col-md-6">
        <h4>Goal</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TargetDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TargetDate)
            </dd>

            @if (@Model != null && @Model.Completed)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CompletedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CompletedDate)
                </dd>
            }

        </dl>
    </div>


</div>
