@model GoalTracker.Models.GoalListMilestonesViewModel

@{
    ViewData["Title"] = "Goals";
}

<div class="row mb-3">
    <div class="col-4">
        <h1>Goals</h1>
    </div>
    <div class="col-4">
        <nav class="nav">
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_GoalCreate">
                    <i class="bi-arrow-up-right-circle" style="font-size: 1rem; color: #0077cc;"></i>Offcanvas Create New Goal
                </a>
                @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalCreate.cshtml", new Goal() { ColorSuggestions = @Model.ColorSuggestions })
            </li>             
        </nav>
    </div>
    
    <div class="col-4">
        <div class="row">
            <form asp-controller="Goal" asp-action="Index" method="get" class="row g-2 float-end">
                <div class="col-auto">
                    <input type="text" name="SearchString" class="form-control" placeholder="Search..." />
                </div>
                <div class="col-auto">
                    <input type="submit" value="Filter" class="form-control btn btn-outline-success" />
                </div>
            </form>
        </div>
        <div class="row">
            @if (@ViewData["filter"] != null) 
            {
                <a class="nav-link align-self-end" asp-area="" asp-controller="Goal" asp-action="Index">
                    Applied Filter: @ViewData["filter"]
                    <i class="bi-x-square" style="font-size: 1rem; color: #0077cc;"></i>
                </a>            
            }
        </div>

    </div>
</div>

<div class="row">
    <div class="col mb-3">      
        @foreach (var goal in Model.Goals!)
        {            

            <div class="card mb-3" id="GoalCard_@goal.Id">
                <h4 class="card-header">
                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_GoalDetails_@goal.Id">
                        Goal: @Html.DisplayFor(modelItem => goal.Title)
                    </a>

                    @if (goal.Completed) 
                    {
                        <span class="badge bg-success float-end">Completed</span>
                    } 
                    else 
                    {
                        <span class="badge bg-primary float-end">In Progress</span>
                    }
                </h4>

                <div class="card-body">

                    <div class="row mb-3">
                        <h5 class="card-title">   
                            @Html.DisplayFor(modelItem => goal.Description)
                        </h5>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            
                            <ul class="list-group">                                                                                                                       
                                
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">
                                            @Html.DisplayNameFor(model => goal.Category)                                                            
                                        </div>                                                     
                                        @Html.DisplayFor(modelItem => goal.Category)   
                                    </div>
                                </li>
                                @if (!String.IsNullOrEmpty(goal.Color)) 
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-start" 
                                        style="background-color: @goal.Color; color: @goal!.GetTextColor();">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                @Html.DisplayNameFor(model => goal.Color)                                                            
                                            </div>                                                     
                                            @Html.DisplayFor(modelItem => goal.Color)   
                                        </div>
                                    </li>
                                }                                
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">
                                            @Html.DisplayNameFor(model => goal.CreatedDate)                                                            
                                        </div>                                                        
                                        @Html.DisplayFor(modelItem => goal.CreatedDate)
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">
                                            @Html.DisplayNameFor(model => goal.TargetDate)                                                            
                                        </div>                                                       
                                        @Html.DisplayFor(modelItem => goal.TargetDate) 
                                    </div>
                                </li>
                                @if (goal.Completed)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">
                                                @Html.DisplayNameFor(model => goal.Completed)                                                                                                        
                                            </div>                                                                                                    
                                                @Html.DisplayFor(modelItem => goal.CompletedDate)                                            
                                        </div>
                                    </li>     
                                }                               
                                <li class="list-group-item d-flex justify-content-start align-items-start">
                                    <div>                                                                                           
                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_GoalDetails_@goal.Id">
                                            <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i> Goal Details 
                                        </a>  
                                        @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalDetails.cshtml", @goal)
                                    </div>
                                </li>  
                                <li class="list-group-item d-flex justify-content-start align-items-start">
                                    <div>                                                                                           
                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_GoalEdit_@goal.Id">
                                            <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i> Edit Goal 
                                        </a>  
                                        @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalEdit.cshtml", @goal)
                                    </div>
                                </li>  
                                <li class="list-group-item d-flex justify-content-start align-items-start">
                                    <div>                                                                                           
                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_GoalDelete_@goal.Id">
                                            <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete Goal 
                                        </a>  
                                        @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalDelete.cshtml", @goal)
                                    </div>
                                </li>   
                                <li class="list-group-item d-flex justify-content-start align-items-start">
                                    <div>                                                                                           
                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneCreate_@goal.Id">
                                            <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i> Add Milestone 
                                        </a>  
                                        @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneCreate.cshtml", new Milestone {GoalId = @goal.Id, Goal = @goal, ColorSuggestions = @Model.ColorSuggestions})
                                    </div>
                                </li>                                                    
                            </ul>                                                                
                        </div>

                        <div class="col-md-9">                           

                            <ul>
                                @foreach (var milestone in Model.Milestones!)
                                {
                                    @if (milestone.GoalId == goal.Id)
                                    {                                                    
                                        <li>
                                            <ol class="list-group">                                            
                                                <li class="list-group-item d-flex align-items-start">
                                                    <div class="col">
                                                    
                                                        <div class="row justify-content-between">
                                                            <div class="col-sm-10">
                                                                <div class="fw-bold">
                                                                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneDetails_@milestone.Id">
                                                                        <h5>Milestone: @milestone.Title</h5>
                                                                    </a>
                                                                </div>
                                                                @milestone.Description
                                                            </div>
                                                            <div class="col-sm-2 align-items-end">
                                                                @if (milestone.Completed) 
                                                                {
                                                                    <span class="badge bg-success">Completed</span>
                                                                } 
                                                                else 
                                                                {
                                                                    <span class="badge bg-primary">In Progress</span>
                                                                }
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <ul class="navbar-nav d-flex flex-grow-1">

                                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                        <div class="ms-2 me-auto">
                                                                            <div class="fw-bold">
                                                                                @Html.DisplayNameFor(model => milestone.Category)                                                            
                                                                            </div>                                                     
                                                                            @Html.DisplayFor(modelItem => milestone.Category)   
                                                                        </div>
                                                                    </li>
                                                                    @if (!String.IsNullOrEmpty(milestone.Color)) 
                                                                    {
                                                                        <li class="list-group-item d-flex justify-content-between align-items-start" 
                                                                            style="background-color: @milestone.Color; color: @milestone!.GetTextColor();">
                                                                            <div class="ms-2 me-auto">
                                                                                <div class="fw-bold">
                                                                                    @Html.DisplayNameFor(model => milestone.Color)                                                            
                                                                                </div>                                                     
                                                                                @Html.DisplayFor(modelItem => milestone.Color)   
                                                                            </div>
                                                                        </li>
                                                                    }                                
                                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                        <div class="ms-2 me-auto">
                                                                            <div class="fw-bold">
                                                                                @Html.DisplayNameFor(model => milestone.CreatedDate)                                                            
                                                                            </div>                                                        
                                                                            @Html.DisplayFor(modelItem => milestone.CreatedDate)
                                                                        </div>
                                                                    </li>
                                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                        <div class="ms-2 me-auto">
                                                                            <div class="fw-bold">
                                                                                @Html.DisplayNameFor(model => milestone.TargetDate)                                                            
                                                                            </div>                                                       
                                                                            @Html.DisplayFor(modelItem => milestone.TargetDate) 
                                                                        </div>
                                                                    </li>
                                                                    @if (milestone.Completed)
                                                                    {
                                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                            <div class="ms-2 me-auto">
                                                                                <div class="fw-bold">
                                                                                    @Html.DisplayNameFor(model => milestone.Completed)                                                                                                        
                                                                                </div>                                                                                                    
                                                                                    @Html.DisplayFor(modelItem => milestone.CompletedDate)                                            
                                                                            </div>
                                                                        </li>     
                                                                    }           

                                                                    <li class="list-group-item d-flex justify-content-start align-items-start">
                                                                        <div>                                                                                           
                                                                            <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneDetails_@milestone.Id">
                                                                                <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i>Milestone Details 
                                                                            </a>  
                                                                            @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneDetails.cshtml", @milestone)
                                                                        </div>
                                                                    </li> 
                                                                    <li class="list-group-item d-flex justify-content-start align-items-start">
                                                                        <div>                                                                                           
                                                                            <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneEdit_@milestone.Id">
                                                                                <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i> Edit Milestone 
                                                                            </a>  
                                                                            @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneEdit.cshtml", @milestone)
                                                                        </div>
                                                                    </li>                                                                                                       
                                                                    <li class="list-group-item d-flex justify-content-start align-items-start">
                                                                        <div>                                                                                           
                                                                            <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneDelete_@milestone.Id">
                                                                                <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete Milestone 
                                                                            </a>  
                                                                            @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneDelete.cshtml", @milestone)
                                                                        </div>
                                                                    </li>                                                                                                       
                                                                    <li class="list-group-item d-flex justify-content-start align-items-start">
                                                                        <div>                                                                                           
                                                                            <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityCreate_@milestone.Id">
                                                                                <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i> Add Activity 
                                                                            </a>  
                                                                                @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityCreate.cshtml", 
                                                                                new ActivityEntry {MilestoneId = @milestone.Id, Milestone = @milestone, ColorSuggestions = @Model.ColorSuggestions})
                                                                        </div>
                                                                    </li>                                          
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>                                            
                                            </ol>                                                                                        
                                        </li>
                                        <ul>
                                            @foreach (var activity in Model.ActivityEntries!)
                                            {
                                                @if (milestone.Id == activity.MilestoneId)
                                                {                                                                   
                                                    <li>
                                                        <ol class="list-group">                                                        
                                                            <li class="list-group-item d-flex justify-content-start align-items-start">

                                                                <div class="col">
                                                                    <div class="row justify-content-between">
                                                                        <div class="col-sm-10">
                                                                            <div class="fw-bold">
                                                                                <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityDetails_@activity.Id">
                                                                                    <h6>Activity: @activity.Title</h6>
                                                                                </a>
                                                                            </div>
                                                                            @activity.Description
                                                                        </div>
                                                                        <div class="col-sm-2 align-items-end">
                                                                            @if (activity.Completed) 
                                                                            {
                                                                                <span class="badge bg-success">Completed</span>
                                                                                
                                                                            } 
                                                                            else 
                                                                            {
                                                                                <span class="badge bg-primary">In Progress</span>
                                                                            }
                                                                        </div>
                                                                        
                                                                    </div>                                                                
                                                                
                                                                    <div class="row">
                                                                        <div class="col-md-4">                                                                        
                                                                            <ul class="navbar-nav d-flex flex-grow-1">

                                                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                                    <div class="ms-2 me-auto">
                                                                                        <div class="fw-bold">
                                                                                            @Html.DisplayNameFor(model => activity.Category)                                                            
                                                                                        </div>                                                     
                                                                                        @Html.DisplayFor(modelItem => activity.Category)   
                                                                                    </div>
                                                                                </li>
                                                                                @if (!String.IsNullOrEmpty(activity.Color)) 
                                                                                {
                                                                                    <li class="list-group-item d-flex justify-content-between align-items-start" 
                                                                                        style="background-color: @activity.Color; color: @activity!.GetTextColor();">
                                                                                        <div class="ms-2 me-auto">
                                                                                            <div class="fw-bold">
                                                                                                @Html.DisplayNameFor(model => activity.Color)                                                            
                                                                                            </div>                                                     
                                                                                            @Html.DisplayFor(modelItem => activity.Color)   
                                                                                        </div>
                                                                                    </li>
                                                                                }                                
                                                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                                    <div class="ms-2 me-auto">
                                                                                        <div class="fw-bold">
                                                                                            @Html.DisplayNameFor(model => activity.CreatedDate)                                                            
                                                                                        </div>                                                        
                                                                                        @Html.DisplayFor(modelItem => activity.CreatedDate)
                                                                                    </div>
                                                                                </li>
                                                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                                    <div class="ms-2 me-auto">
                                                                                        <div class="fw-bold">
                                                                                            @Html.DisplayNameFor(model => activity.TargetDate)                                                            
                                                                                        </div>                                                       
                                                                                        @Html.DisplayFor(modelItem => activity.TargetDate) 
                                                                                    </div>
                                                                                </li>
                                                                                @if (activity.Completed)
                                                                                {
                                                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                                        <div class="ms-2 me-auto">
                                                                                            <div class="fw-bold">
                                                                                                @Html.DisplayNameFor(model => activity.Completed)                                                                                                        
                                                                                            </div>                                                                                                    
                                                                                                @Html.DisplayFor(modelItem => activity.CompletedDate)                                            
                                                                                        </div>
                                                                                    </li>     
                                                                                }         

                                                                                <li class="list-group-item d-flex justify-content-start align-items-start">
                                                                                    <div>                                                                                           
                                                                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityDetails_@activity.Id">
                                                                                            <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i>Activity Details 
                                                                                        </a>  
                                                                                        @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityDetails.cshtml", @activity)
                                                                                    </div>
                                                                                </li> 
                                                                                <li class="list-group-item d-flex justify-content-start align-items-start">
                                                                                    <div>                                                                                           
                                                                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityEdit_@activity.Id">
                                                                                            <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i> Edit Activity 
                                                                                        </a>  
                                                                                        @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityEdit.cshtml", @activity)
                                                                                    </div>
                                                                                </li>                                                                                                       
                                                                                <li class="list-group-item d-flex justify-content-start align-items-start">
                                                                                    <div>                                                                                           
                                                                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityDelete_@activity.Id">
                                                                                            <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete Activity 
                                                                                        </a>  
                                                                                        @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityDelete.cshtml", @activity)
                                                                                    </div>
                                                                                </li>                                                                                                                                                                                                                               
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>                                                                                                                               
                                                                
                                                            </li>                                                        
                                                        </ol>                                                                                                    
                                                    </li>                                                                                                                        
                                                }
                                            }
                                        </ul>
                                    }
                                }
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>                                    
        }
    </div>
</div>