@model IEnumerable<GoalTracker.Models.Goal>

@{
    ViewData["Title"] = "Index";
}

<h1>Goals</h1>

<ul class="nav">

    <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_GoalCreate">
        <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New Goal
    </a>
    @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalCreate.cshtml", new Goal() { })

</ul>



<div class="row g-0">

    @foreach (var goal in Model)
    {
        <div class="col-md-10 offset-md-1">


            <div class="card p-3 mt-3" style="min-height: 10rem;">
                <div class="row">

                    
                    <div class="col-sm-4">
                        <div class="card-body">
                            <h5 class="card-title">@goal.Title</h5>
                            <p class="card-text">@goal.Description</p>
                            <button type="button" class="btn btn-outline-primary">Expand</button>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">@goal.Category</h5>
                            
                            <p class="card-text">@goal.CreatedBy?.Email</p>
                            <p class="card-text">@goal.CreatedBy?.Id</p>
                            <p class="card-text">@goal.CreatedDate</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong> @goal.CreatedDate
                            </li>
                            <li class="list-group-item">
                                <strong>@Html.DisplayNameFor(model => model.StartedDate)</strong> @goal.StartedDate
                            </li>
                            <li class="list-group-item">
                                <strong>@Html.DisplayNameFor(model => model.TargetDate)</strong> @goal.TargetDate
                            </li>
                        </ul>
                        <div class="card-body">
                            <li class="list-group-item d-flex justify-content-start align-items-start">
                                <div>
                                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_GoalDetails_@goal.Id">
                                        <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i> Details
                                    </a>
                                    @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalDetails.cshtml", @goal)
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-start">
                                <div>
                                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_GoalEdit_@goal.Id">
                                        <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i> Edit
                                    </a>
                                    @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalEdit.cshtml", @goal)
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-start">
                                <div>
                                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_GoalDelete_@goal.Id">
                                        <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete
                                    </a>
                                    @await Html.PartialAsync("~/Views/Goal/OffCanvas/_GoalDelete.cshtml", @goal)
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

</div>