@model IEnumerable<GoalTracker.Models.Goal>

@{
    ViewData["Title"] = "Goals";
}

<div class="row mt-5 mb-5">
    <div class="col-6">
        <h1>Goals</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-2">
        <nav class="nav flex-column">
            <a asp-action="Create" class="nav-link">Create New Goal</a>
        </nav>
    </div>

    <div class="col-md-10">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TargetDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Completed)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                            </a>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TargetDate)
                        </td>

                        <td>
                            @if (item.Completed)
                            {
                                @Html.DisplayFor(modelItem => item.CompletedDate)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>