@model IEnumerable<GoalTracker.Models.Milestone>

@{
    ViewData["Title"] = "Index";
}

<h1>Milestone Index</h1>

<p>
    <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneCreate">
        <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New Milestone
    </a>
    @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneCreate.cshtml", new Milestone() { })

</p>




<div class="row">

    @foreach (var milestone in Model)
    {

        <div class="col-md-10 offset-md-1">


            <div class="card m-3 p-3">
                <div class="row">


                    <div class="col-md-9">

                        <div class="card-body">
                            <h5 class="card-title">@milestone.Title
                                @if (@milestone.Favorited)
                                {
                                    <i class="bi-star-fill" style="font-size: 1rem; color: #0077cc;"></i>
                                }
                                else
                                {
                                    <i class="bi-star" style="font-size: 1rem; color: #0077cc;"></i>
                                }
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">@milestone.Category</h6>
                            <p class="card-text">@milestone.Description</p>



                            <div class="row mb-3">

                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                            <p class="card-text">Some quick example text to build on the card title and make
                                                up
                                                the
                                                bulk of
                                                the card's content.</p>
                                            <a href="#" class="card-link">Card link</a>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                            <p class="card-text">Some quick example text to build on the card title and make
                                                up
                                                the
                                                bulk of
                                                the card's content.</p>
                                            <a href="#" class="card-link">Card link</a>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                            <p class="card-text">Some quick example text to build on the card title and make
                                                up
                                                the
                                                bulk of
                                                the card's content.</p>
                                            <a href="#" class="card-link">Card link</a>                                            
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneDetails_@milestone.Id">
                                <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i> Details
                            </a>
                            @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneDetails.cshtml", @milestone)

                            <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneEdit_@milestone.Id">
                                <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i> Edit
                            </a>
                            @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneEdit.cshtml", @milestone)

                            <a class="" data-bs-toggle="offcanvas" href="#offCanvas_MilestoneDelete_@milestone.Id">
                                <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete
                            </a>
                            @await Html.PartialAsync("~/Views/Milestone/OffCanvas/_MilestoneDelete.cshtml", @milestone)

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>@Html.DisplayNameFor(model =>
                                    model.CreatedDate)</strong> @milestone.CreatedDate</li>
                                <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.TargetDate)</strong>
                                    @milestone.TargetDate</li>
                                <li class="list-group-item"><strong>@Html.DisplayNameFor(model =>
                                    model.StartedDate)</strong> @milestone.StartedDate</li>
                                <li class="list-group-item"><strong>@Html.DisplayNameFor(model =>
                                    model.CompletedDate)</strong> @milestone.CompletedDate</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }
</div>
