@model Notification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveredTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Read)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Read)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneratedByApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneratedByApplication)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
