@model IEnumerable<Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneratedByApplication)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Read)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratedByApplication)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
