@model IEnumerable<Notification>

@{
    ViewData["Title"] = "Index";
}


<h1>My notifications</h1>


<ul class="nav">

    <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_NotificationCreate">
        <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New Notification
    </a>
    @await Html.PartialAsync("~/Views/Notification/OffCanvas/_NotificationCreate.cshtml", new Notification() { })

</ul>


<div class="row p-1">
    <div class="col-4">
        <div id="notificationsList" class="list-group">

            @foreach (var notification in Model)
            {
                <a id="notification_@notification.Id" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between" onclick="MarkAsRead('@notification.Id');">
                        <h5 class="mb-1">Notification</h5>
                        <small class="text-muted sent-timestamp" id="sent_timestamp_@notification.Id"
                            data-date="@notification.SentTimestamp">@notification.SentTimestamp</small>
                    </div>
                    <p class="mb-1">@notification.MessageBody</p>
                    <small class="text-muted">From: @notification.Sender</small>
                </a>
            }
        </div>
    </div>
</div>
</div>




@section Scripts
{

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/localizedFormat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/customParseFormat.js"></script>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notifications.js"></script>

}
