@model IEnumerable<GoalTracker.Models.ActivityEntry>

@{
    ViewData["Title"] = "Activities";
}

<div class="row mb-5">
    <div class="col-6">
        <h1>Activities</h1>
    </div>
    <div class="col-6">
        <form asp-controller="ActivityEntry" asp-action="Index" method="get" class="row g-2 float-end">
            <div class="col-auto">
                <input type="text" name="SearchString" class="form-control" placeholder="Search..." />
            </div>
            <div class="col-auto">
                <input type="submit" value="Filter" class="form-control btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">

    <div class="col-md-2">
        <nav class="nav flex-column">
            <a asp-action="Create" class="nav-link">Add New Activity</a>
            <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_ActivityIndex">
                <i class="bi-arrow-up-right-circle" style="font-size: 1rem; color: #0077cc;"></i>Offcanvas
            </a>
        </nav>
    </div>

    <div class="col-md-10 mb-5">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TargetDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Completed)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                            </a>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TargetDate)
                        </td>

                        <td>
                            @if (item.Completed)
                            {
                                @Html.DisplayFor(modelItem => item.CompletedDate)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>